<h4 class="text-uppercase font-weight-bold">Informe de productividad</h4>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Sucursal</mat-label>
          <mat-select [value]="0">
            <mat-option
              [value]="0"
              (click)="buscarSucursal.emit(0)"
              class="font-weight-bold"
              >Todas</mat-option
            >
            <mat-option
              *ngFor="let item of sucursales"
              [value]="item"
              (click)="buscarSucursal.emit(item)"
              class="font-weight-bold"
              >{{ item }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Periodos</mat-label>
          <mat-select [value]="0">
            <mat-option [value]="0" class="font-weight-bold"
              >Todas</mat-option
            >
            <mat-option
              *ngFor="let item of periodos"
              [value]="item"
              class="font-weight-bold"
              >{{ item }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Meses</mat-label>
          <mat-select [value]="0">
            <mat-option [value]="0" class="font-weight-bold"
              >Todas</mat-option
            >
            <mat-option
              *ngFor="let item of meses"
              [value]="item.id"
              class="font-weight-bold"
              >{{ item.glosa }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-right">
    <button type="button" class="btn btn-outline-primary mr-2">
      <span class="font-weight-normal text-uppercase">
        Enviar por correo</span
      >
    </button>
    <button type="button" class="btn btn-outline-primary">
      <span class="font-weight-normal text-uppercase"> Descargar </span>
    </button>
  </div>
</div>